<ion-header [translucent]="true">
  <ion-toolbar>      
    <ion-title>Profil</ion-title>
    <ion-button size="small" shape="round" fill="clear" routerLink="/anasayfa" slot="start">
      <ion-icon slot="icon-only" name="home-outline"></ion-icon>
    </ion-button>
    <ion-button size="small" shape="round" fill="clear" routerLink="/giris" slot="end">
      <ion-icon slot="icon-only" name="person-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <p>PROFIL</p>
</ion-content>
