<ion-header>
  <ion-toolbar>
    <ion-button  size="small" shape="round" fill="clear" routerLink="/anasayfa" slot="start">
      <ion-icon slot="icon-only" name="reorder-three-outline"></ion-icon>
    </ion-button>
    <ion-button size="small" shape="round" fill="clear" routerLink="/anasayfa" slot="start">
      <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>REZERVASYON</ion-title>
          <ion-button size="small" shape="round" fill="clear" routerLink="/anasayfa" slot="end">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>

<div class="rectangle-container">
  <div class="rectangle-content">
    <ion-button class="date-button">12 Haziran 2024</ion-button>
    <ion-content>
      <ion-tabs>
        <ion-tab-bar slot="top">
          <ion-tab-button tab="genel">genel</ion-tab-button>
          <ion-tab-button tab="kort1">kort1</ion-tab-button>
          <ion-tab-button tab="kort2">kort2</ion-tab-button>
          <ion-tab-button tab="kort3">kort3</ion-tab-button>
          <ion-tab-button tab="kort4">kort4</ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-content>
  </div>
</div>



