:host {
  background: rgba(236, 241, 243, 0.158);
 //--ion-background-color:red;

}

.genel-tab {
  max-width: 50px; /* Sabit genişlik */
  min-width: 50px;
  flex-shrink: 0;
}
ion-content.custom-colored-content{
  --ion-background-color: rgba(243, 238, 236, 0.158); /* Kırmızı arka plan */
}
ion-tab-bar.custom-tab-bar{
  --background: rgba(236, 241, 243, 0.198);
  overflow: hidden;
  margin-bottom: 2px;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;

}
ion-tab-button.selected {
  margin: 5px;
  flex-grow: 3;
  background-color: #000000ad; /* dark background for selected tab */
  color: white; /* text color */
}
ion-tab-button.not-selected {
  flex-grow: 1;
  margin: 5px;
  background-color: white; /* dark background for selected tab */
  color: 000000ad; /* text color */
}
.selected {
  
  --background-activated: #000000ad;
  --background: #000000ad; /* Seçili buton için koyu arka plan rengi */
  color: whitesmoke; /* Yazı rengi */
}

.not-selected {
  --background-activated: #000000ad;
  --background: #f0f0f0; /* Seçili olmayan buton için açık arka plan rengi */
  color: #000000ad; /* Yazı rengi */
}
.rectangle-container {
    width: 365px;
    height: 600px;
    width: 90%;
    max-width: 600px;
    background-color:  rgba(236, 241, 243, 0.158);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.rectangle-content {
    background: rgba(236, 241, 243, 0.158);
    flex: 1;
    display: flex;
    flex-direction: column;
}
.day-selector{
  overflow: hidden;
  border-radius: 12px;
  // --background: #000000ad;
  // color: whitesmoke;
}
.kort-button{
  height: 30px;
  overflow: hidden;
  border-radius: 12px;
  // --background: #000000ad;
  // color: whitesmoke;
}
.date-button {
    
    padding-bottom: 10px;
    
}
.custom-modal {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .custom-modal .modal-wrapper {
    height: 300px !important;
    max-height: 300px !important;
    width: 100% !important;
    bottom: 0 !important;
    top: auto !important;
    position: absolute !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
  }

  ion-modal {
    --height: 45%;
    // --border-radius: 10px 10px 0 0;
  }
  
  ion-modal .block {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .rezervasyon-yap-button {
    --color: rgb(0, 0, 0); 
    --background: rgb(253, 234, 220);

  }
