<ion-header>
  <ion-toolbar>
    <ion-title class="overflowed">12 Ağustos 2024 (Bugün)</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"><ion-icon slot="icon-only" name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2" class="ion-text-center">
        <ion-icon name="accessibility-outline"></ion-icon>
      </ion-col>
      <ion-col size="8" class="ion-text-center">
        {{ startTime }} - {{ endTime }}
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        <ion-icon name="flag-outline"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-radio-group [allowEmptySelection]="true" [(ngModel)]="selectedDuration" (ionChange)="updateEndTime()">
      <ion-row>
        <ion-col size="4" class="ion-text-center">
          <ion-item lines="none">
            <ion-label class="text-size">30 Dakika</ion-label>
            <ion-radio aria-label="Primary" color="primary" slot="start" value="30"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <ion-item lines="none">
            <ion-label class="text-size">60 Dakika</ion-label>
            <ion-radio slot="start" value="60"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col size="4" class="ion-text-center">
          <ion-item lines="none">
            <ion-label class="text-size">90 Dakika</ion-label>
            <ion-radio slot="start" value="90"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>

    <ion-row>
      <ion-col size="12">
        <ion-item lines="none">
          <ion-label position="stacked">Sporcular</ion-label>
          <ion-input [(ngModel)]="playerName"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="ion-text-right">
        <ion-button class="talep-button" (click)="reserve()">Talep Et</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
