<h3>GÜNÜN MAÇI</h3>
<ion-card class="custom-box">
  <ion-card-content>
    <ion-grid class="gunun-maci-content">
      <ion-row>
        <ion-col size="4">
          <ion-row class="align-center">
            <ion-icon name="location-outline"></ion-icon>
            <p>2</p>
          </ion-row>
          <ion-row class="align-center">
            <ion-icon name="time-outline"></ion-icon>
            <p>09.30</p>
          </ion-row>
        </ion-col>

        <ion-col size="6">
          <ion-row class="align-center">
            <p>osman vs orhan</p>
          </ion-row>
        </ion-col>

        <ion-col size="2" class="align-center flex-column">
          <ion-icon name="people-outline"></ion-icon>
          <p>12</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
