<ion-header [translucent]="true">
    <ion-toolbar>      
      <ion-title>anasayfa</ion-title>
      <ion-button size="small" shape="round" fill="clear" routerLink="/profil" slot="end">
        <ion-icon slot="icon-only" name="person-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content class="anasayfa-content" [fullscreen]="true">
  <ion-button routerLink="/rezervasyon"> REZERVASYON</ion-button>
  <ion-button routerLink="/rezervasyon"> GALERİ</ion-button>
  <br>
  <ion-button routerLink="/rezervasyon"> LİG</ion-button>
  <ion-button routerLink="/rezervasyon"> ETKİNLİKLER</ion-button>
  <br>
  <ion-button routerLink="/rezervasyon"> DUYRULAR</ion-button>
  <ion-button routerLink="/rezervasyon"> DERGİ</ion-button>
  <br>
  <ion-button routerLink="/rezervasyon"> ALASIM VAR</ion-button>
  <p>GÜNÜN MAÇI</p>

</ion-content>
