
// Renkler
$primary-color: #e99c7070;
$primary-color-accent: #e97d3fb4;
$secondary-color: #6c757d;
$success-color: #28a745;
$danger-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;
$light-color: #f8f9fa;
$dark-color: #343a40;
$dark-text: #0000007a;
$dark-border: #0000007a;

// Boyutlar
$border-radius-small: 4px;
$border-radius-medium: 8px;
$border-radius-large: 12px;

$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 15px;

// Fontlar
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 20px;