.slot-time {
    margin-left: -25px;
    text-align: center;
}

ion-item.slot-item {
  --padding-start: 4px;
  --padding-end: 4px;
  --inner-padding-end: 6px;



    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .time-label {
    flex: 0 0 18%; /* Zaman etiketinin genişliği */
    text-align: center; /* Saat metnini ortala */
    color: white; /* Yazının iç rengi beyaz */
    font-weight: 800; /* Yazıyı kalın yap */
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.660), /* Alt kenar */
                 -1px -1px 0px rgba(0, 0, 0, 0.660), /* Üst kenar */
                 1px -1px 0px rgba(0, 0, 0, 0.660), /* Sol üst kenar */
                 -1px 1px 0px rgba(0, 0, 0, 0.660), /* Sağ alt kenar */
                 0px 1px 0px rgba(0, 0, 0, 0.660), /* Alt kenar */
                 0px -1px 0px rgba(0, 0, 0, 0.660); /* Üst kenar */
  }
  .filled-slot {
    background-color: #e99c7070; /* Dolu slotlar için turuncu arka plan */
    border-radius: 12px; /* Kenar yuvarlaklığı */
    margin-left: -4px;
    margin-right: -4px;
    padding: 6px;
    padding-left: 9px;
    padding-right: 9px;


    color: black; /* Yazı rengi beyaz */
    font-weight: 600;
    width: 100%; /* Kutunun genişliğini tam ayarla */
    box-sizing: border-box; /* Padding'in hesaplamaya dahil edilmesi için */
    text-align: center; /* Metni ortala */
    //box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1); /* Gölge ekleme */
    border: 1px solid white; /* Beyaz kenarlık ekleme */
  }
  
  /* Boş slotların stili */
  .empty-slot {
    background-color: #dbdfe070; /* Boş slotlar için açık gri arka plan */
    border-radius: 12px; /* Kenar yuvarlaklığı */
    margin-left: -4px;
    margin-right: -4px;
    padding: 6px;
    padding-left: 9px;
    padding-right: 9px;

    color: #0000007a; /* Yazı rengi siyah */
    font-weight: 600;
    width: 100%; /* Kutunun genişliğini tam ayarla */
    box-sizing: border-box; /* Padding'in hesaplamaya dahil edilmesi için */
    text-align: center; /* Metni ortala */
    //box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1); /* Gölge ekleme */
    border: 1px solid white; /* Beyaz kenarlık ekleme */
  }
  .player-container {
    flex: 1; /* Kalan alanı kaplar */
    display: flex;
    justify-content: center; /* İçeriği merkeze yasla */
  }
  .badges {
    display: flex;
    justify-content: space-between;
    flex: 3; 
    gap: 18px;

  }
  
  .badges ion-badge {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  