<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>giris</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content-container">


    <div class="logo-container">
      <img src="assets/image/aftek_logo.png" alt="Logo" class="logo">
    </div>
  <h2 class="wellcome-message">AFRODİT TENİS KULÜBÜNE<br>HOŞGELDİNİZ</h2>

  <ion-input class="custom-textbox" label="Tel No" label-placement="floating" fill="outline" placeholder="(5__) ___ __ __"></ion-input>
  <ion-input class="custom-textbox" label="Şifre" label-placement="floating" fill="outline" placeholder="Şifrenizi Girin"></ion-input>

  <p>şifremi unuttum</p>
  <ion-button routerLink="/anasayfa"> Giriş Yap</ion-button>
  <ion-button routerLink="/anasayfa"> Misafir Girişi</ion-button>
  <p>Hesabınız yok mu?</p>
  <p>WhatsApp İletişim Hattı</p>
</div>
</ion-content>
